{% extends 'app1/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %} add New Pers {% endblock %}
{% block content %}
    <div class="container ml-5">
        <p>je suis la mes camarades</p>
        <form method = "POST" action="">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div>
            <button type="submit" class="save btn btn-primary">Save</button>
        </form>
    </div>
{% endblock content %}
{% block javascript %}
<script>
    $(document).ready(function(){
        $("#id_date_nais").datepicker({
            uiLibrary: 'bootstrap4',
            iconsLibrary: 'materialicons' ,
             locale: 'fr-fr',
             format: 'dd/mm/yyyy',

        })
        $("#id_date_of_birth").datepicker({
            uiLibrary: 'bootstrap4',
            iconsLibrary: 'materialicons' ,
             locale: 'fr-fr',
             format: 'dd/mm/yyyy',

        })
        $("#id_date_of_death").datepicker({
            uiLibrary: 'bootstrap4',
            iconsLibrary: 'materialicons' ,
             locale: 'fr-fr',
             format: 'dd/mm/yyyy',

        })
    })
</script>
{% endblock javascript %}

